<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/sample" method="POST">
        <input type="text" name="name" id="" placeholder="thetre name">
        <input type="text" name="city" placeholder="city name">
        <input type="text" name="movie" id="" placeholder="movie name">
        <input type="text" name="mposter" id="" placeholder="movie poster">
        <input type="text" name="tposter" id="" placeholder="theater poster">
        <input type="text" name="address" id="" placeholder="address">
        <input type="number" name="price" placeholder="Price">
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>